<!DOCTYPE html>
<html lang="en">
    <head>
        <title>[[title]]</title>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="style-vis.css"/>
        <script type="text/javascript" src="js/lib/head.load.min.js"></script>
    </head>
    <body>
    <div class="wrapper">
        [[body]]
    </div>

    </body>

    <script type="text/javascript" src="javascript/setup_brat.js"></script>
    <script type="text/javascript" src="javascript/run_brat.js"></script>
</html>